<div class="forgot-password-container">
  <mat-card class="forgot-password-card">
    <h2>Forgot Password</h2>
    <form class="forgot-password-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
      </mat-form-field>

      <button (click)="redirectToForgotPassword()" mat-raised-button color="primary" type="submit">Reset Password</button>
    </form>
    <a (click)="redirectToLogin()" class="recover-password">Back to Login</a>
  </mat-card>
</div>
