<div class="forgot-password-container">
  <mat-card class="forgot-password-card">
    <h2>{{ 'forgot-password.FORGOT_PASSWORD' | translate }}</h2>
    <form [formGroup]="forgotPasswordForm" class="forgot-password-form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched">
        {{ 'forgot-password.EMAIL_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="forgotPasswordForm?.get('email')?.hasError('email')">
        {{ 'forgot-password.EMAIL_INVALID' | translate }}
      </mat-error>
      <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
        {{ 'forgot-password.SUBMIT' | translate }}
      </button>
    </form>
    <a (click)="redirectToLogin()" class="recover-password">Back to Login</a>
  </mat-card>
</div>
