<div class="home-page">
  <div class="home-page-content">
    <h1>{{ 'home.WELCOME' | translate }}</h1>
    <p>{{ 'home.SUB_TITLE' | translate }}</p>
    <mat-card class="features">
      <h3 class="features-title">{{ 'home.FEATURES' | translate }}</h3>
      <ul>
        <li>{{ 'home.FEATURE1' | translate }}</li>
        <li>{{ 'home.FEATURE2' | translate }}</li>
        <li>{{ 'home.FEATURE3' | translate }}</li>
        <li>{{ 'home.FEATURE4' | translate }}</li>
      </ul>
    </mat-card>
    <div class="buttons">
      <div class="buttons-doctor" *ngIf="isUserDoctor()">
        <button mat-flat-button (click)="onViewAppointments()">{{ 'home.VIEW_APPOINTMENTS' | translate }}</button>
      </div>
      <div class="buttons-patient" *ngIf="isUserPatient()">
        <button mat-flat-button (click)="onCreateAppointments()">{{ 'home.CREATE_APPOINTMENT' | translate }}</button>
      </div>
    </div>

  </div>
</div>

