.home-page{
  display: flex;
  align-content: center;
  justify-content: center;
}
.features-title
{
  margin-top: 10px;
  margin-left: 20px;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button{
  background: #00796b !important;
}
