<mat-toolbar color="primary">
  <!-- Title or Logo -->
  <button
    mat-button
    class="toolbar-title"
    (click)="onLogoClicked()">HealthcareApp</button>

  <!-- Spacer to push the logout button to the right -->
  <span class="spacer"></span>

  <!-- Check Symptoms Button -->
  <button
    mat-icon-button
    matTooltip="{{ 'header.CHECK_SYMPTOMS' | translate}}"
    (click)="redirectToSymptomChecker()"
    aria-label="Medical Condition"
  >
    <mat-icon>healing</mat-icon>
  </button>

  <app-language-picker></app-language-picker>

  <!-- Logout Button with Icon -->
  <button
    mat-icon-button
    matTooltip="{{ 'header.LOGOUT' | translate}}"
    matTooltipPosition="above"
    (click)="logout()"
    aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
