<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <h1>{{ mode  }} Appointment</h1>
  <div class="form-row">
    <mat-form-field floatLabel="auto">
      <mat-label>PatientId</mat-label>
      <input matInput formControlName="patientId" required/>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="appointmentForm.get('patientId')?.hasError('required')">
        PatientId is required.
      </mat-error>
      <mat-error *ngIf="appointmentForm.get('patientId')?.hasError('invalidGuid')">
        PatientId must be a valid GUID.
      </mat-error>
      <mat-error *ngIf="appointmentForm.get('patientId')?.hasError('emptyGuid')">
        PatientId cannot be an empty GUID.
      </mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="auto">
      <mat-label>Select Doctor</mat-label>
      <mat-select formControlName="doctorId" required>
        <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
          {{ doctor.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('doctorId')?.hasError('required')">
        Doctor selection is required.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field>
      <mat-label>StartTime</mat-label>
      <input matInput type="time" formControlName="startTime"/>
      <mat-icon matSuffix>access_time</mat-icon>
      <mat-error *ngIf="appointmentForm.get('startTime')?.hasError('required')">
        StartTime is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>EndTime</mat-label>
      <input matInput type="time" formControlName="endTime"/>
      <mat-icon matSuffix>access_time</mat-icon>
      <mat-error *ngIf="appointmentForm.get('endTime')?.hasError('required')">
        EndTime is required.
      </mat-error>
      <mat-error *ngIf="appointmentForm.get('endTime')?.hasError('endTimeBeforeStartTime')">
        EndTime must be after StartTime.
      </mat-error>
    </mat-form-field>


  </div>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-error *ngIf="appointmentForm.get('date')?.hasError('required')">
      Date is required.
    </mat-error>
    <mat-error *ngIf="appointmentForm.get('date')?.hasError('pastDate')">
      Date cannot be in the past.
    </mat-error>
    <mat-error *ngIf="appointmentForm.get('date')?.hasError('isValidDate')">
      Date must be a valid date.
    </mat-error>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Additional Notes</mat-label>
    <textarea matInput formControlName="userNotes" rows="4"></textarea>
    <mat-error *ngIf="appointmentForm.get('userNotes')?.hasError('maxlength')">
      Additional Notes cannot be longer than 500 characters.
    </mat-error>
  </mat-form-field>
  <div class="form-actions">
    <button mat-flat-button type="submit">Submit</button>
  </div>
</form>
