<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <h1>{{ mode  }}</h1>
  <div class="form-row">
    <mat-form-field floatLabel="auto">
      <mat-label>{{ 'appointment-form.SELECT_DOCTOR' | translate }}</mat-label>
      <mat-select [(value)]="selectedDoctor" (selectionChange)="onDoctorSelectionChange($event)" required>
        <mat-option *ngFor="let doctor of doctors" [value]="doctor">
          {{ doctor.firstName }} {{ doctor.lastName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('doctorId')?.hasError('required')">
        {{ 'appointment-form.DOCTOR_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field>
      <mat-label>{{ 'appointment-form.START_TIME' | translate }}</mat-label>
      <input matInput type="time" formControlName="startTime"/>
      <mat-icon matSuffix>access_time</mat-icon>
      <mat-error *ngIf="appointmentForm.get('startTime')?.hasError('required')">
        {{ 'appointment-form.START_TIME_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'appointment-form.END_TIME' | translate }}</mat-label>
      <input matInput type="time" formControlName="endTime"/>
      <mat-icon matSuffix>access_time</mat-icon>
      <mat-error *ngIf="appointmentForm.get('endTime')?.hasError('required')">
        {{ 'appointment-form.END_TIME_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="appointmentForm.get('endTime')?.hasError('endTimeBeforeStartTime')">
        {{ 'appointment-form.END_TIME_AFTER_START_TIME' | translate }}
      </mat-error>
    </mat-form-field>


  </div>
  <mat-form-field>
    <mat-label>{{ 'appointment-form.CHOOSE_DATE' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-error *ngIf="appointmentForm.get('date')?.hasError('required')">
      {{ 'appointment-form.DATE_REQUIRED' | translate }}
    </mat-error>
    <mat-error *ngIf="appointmentForm.get('date')?.hasError('pastDate')">
      {{ 'appointment-form.DATE_INVALID_PAST' | translate }}
    </mat-error>
    <mat-error *ngIf="appointmentForm.get('date')?.hasError('isValidDate')">
      {{ 'appointment-form.DATE_INVALID' | translate }}
    </mat-error>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'appointment-form.ADDITIONAL_NOTES' | translate }}</mat-label>
    <textarea matInput formControlName="userNotes" rows="4"></textarea>
    <mat-error *ngIf="appointmentForm.get('userNotes')?.hasError('maxlength')">
      {{ 'appointment-form.ADDITIONAL_NOTES_INVALID_SIZE' | translate }}
    </mat-error>
  </mat-form-field>
  <div class="form-actions">
    <button mat-flat-button type="submit">{{ 'appointment-form.SUBMIT' | translate }}</button>
  </div>
</form>
