<div class="login-container">
  <mat-card class="login-card">
    <h2>{{ "LOGIN" | translate }}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ "email.EMAIL" | translate }}</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          name="email"
          required
        />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          {{ "email.REQUIRED" | translate }}
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          {{ "email.INVALID" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ "password.PASSWORD" | translate }}</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          name="password"
          required
        />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          {{ "password.REQUIRED" | translate }}
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
          {{ "password.INVALID" | translate }}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        {{ "LOGIN" | translate }}
      </button>
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="redirectToSignup()"
      >
        {{ "REGISTER" | translate }}
      </button>
    </form>
    <a class="recover-password" (click)="redirectToForgotPassword()">{{ "FORGOT_PASSWORD" | translate }}</a>
  </mat-card>
</div>
