<div class="reset-password-container">
  <mat-card class="reset-password-card">
    <h2>{{ 'reset-password.RESET_PASSWORD' | translate}}</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'reset-password.PASSWORD' | translate }}</mat-label>
        <input matInput type="password" formControlName="newPassword" />
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
          {{ 'reset-password.PASSWORD_REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
          {{ 'reset-password.PASSWORD_INVALID' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'reset-password.CONFIRM_PASSWORD' | translate }}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('passwordsMismatch')">
          {{ 'reset-password.MISMATCH' | translate }}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">
        {{ 'reset-password.SAVE' | translate }}
      </button>
    </form>
  </mat-card>
</div>
