<mat-card *ngIf="!loading">
  <h3>{{ 'appointment-detail.DETAILS' | translate }}</h3>
  <div class="form-row">
    <!-- Date -->
    <div class="detail-item">
      <div class="detail-item-row">
        <mat-icon>calendar_today</mat-icon>
        <strong>{{ 'appointment-detail.DATE' | translate }}</strong>
      </div>
      <span>{{appointmentDetails.date}}</span>
    </div>
    <!-- Time -->
    <div class="detail-item">
      <div class="detail-item-row">
        <mat-icon>access_time</mat-icon>
        <strong>{{ 'appointment-detail.TIME' | translate }}</strong>
      </div>
      <span>{{appointmentDetails.startTime.split(':').slice(0, 2).join(':')}} - {{appointmentDetails.endTime.split(':').slice(0, 2).join(':')}}</span>
    </div>
  </div>

  <!-- Additional Notes -->
  <div class="form-row">
    <div class="detail-item">
      <div class="detail-item-row">
        <mat-icon>notes</mat-icon>
        <strong>{{ 'appointment-detail.ADDITIONAL_NOTES' | translate }}</strong>
      </div>
      <span class="user-notes">{{appointmentDetails.userNotes}}</span>
    </div>
  </div>

  <div class="form-actions">
    <button class="update-button" *ngIf="roleService.isUserDoctor()" mat-flat-button (click)="onUpdate()">
      {{ 'appointment-detail.UPDATE' | translate }}
    </button>

    <button class="delete-button" *ngIf="roleService.isUserDoctor()"
            mat-stroked-button
            color="warn"
            (click)="onDelete()">
      {{ 'appointment-detail.DELETE' | translate }}
    </button>
  </div>
</mat-card>
