<div class="signup-container">
  <mat-card class="signup-card">

    <h2>{{ 'REGISTER' | translate }}</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
      <div class="row">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
          <input matInput type="text" formControlName="firstName" />
          <mat-error *ngIf="signupForm.get('firstName')?.hasError('required')">
            {{ 'FIRST_NAME_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>{{ 'LAST_NAME' | translate }}</mat-label>
          <input matInput type="text" formControlName="lastName" />
          <mat-error *ngIf="signupForm.get('firstName')?.hasError('required')">
            {{ 'LAST_NAME_REQUIRED' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>{{ 'PHONE_NUMBER' | translate }}</mat-label>
          <input matInput type="tel" formControlName="phoneNumber" />
          <mat-error *ngIf="signupForm.get('phoneNumber')?.hasError('required')">
            {{ 'PHONE_NUMBER_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="signupForm.get('phoneNumber')?.hasError('pattern')">
            {{ 'PHONE_NUMBER_INVALID' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>{{ 'DATE_OF_BIRTH' | translate }}</mat-label>
          <input matInput type="date" formControlName="dateOfBirth" />

          <mat-error *ngIf="signupForm.get('dateOfBirth')?.hasError('required')">
            {{ 'DATE_OF_BIRTH_REQUIRED' | translate }}
          </mat-error>

          <mat-error *ngIf="signupForm.get('dateOfBirth')?.hasError('tooOld')">
            {{ 'DATE_OF_BIRTH_INVALID_TOO_OLD' | translate }}
          </mat-error>
          <mat-error *ngIf="signupForm.get('dateOfBirth')?.hasError('futureDate')">
            {{ 'DATE_OF_BIRTH_INVALID_FUTURE' | translate }}
          </mat-error>
        </mat-form-field>

      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'email.EMAIL' | translate }}</mat-label>
        <input matInput type="email" formControlName="email"  />
        <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
          {{ 'email.INVALID' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'ROLE' | translate }}</mat-label>
        <mat-select formControlName="role" >
          <mat-option value="doctor">Doctor</mat-option>
          <mat-option value="patient">Patient</mat-option>
        </mat-select>
        <mat-error *ngIf="signupForm.get('role')?.hasError('required')">
          {{ 'ROLE_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <div class="row">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>{{ 'password.PASSWORD' | translate }}</mat-label>
          <input matInput type="password" formControlName="password"  />
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
            {{ 'password.REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
            {{ 'password.INVALID' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>{{ 'password.CONFIRM_PASSWORD' | translate }}</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">
            {{ 'password.CONFIRM_PASSWORD_REQUIRED' | translate }}
          </mat-error>
          <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('passwordsMismatch')">
            {{ 'password.MISMATCH' | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">{{ 'REGISTER' | translate }}</button>
    </form>
  </mat-card>
</div>
