
.appointment-list {
  max-width: 800px;
  margin: 3rem auto auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #00796b;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.error {
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

mat-progress-spinner {
  display: block;
  margin: 50px auto;
}

.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

mat-paginator.paginator-custom {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.match-input-height {
  margin-left: 16px;
  background-color: #00796b;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.appointment-row:hover {
  cursor: pointer;
  background-color: #2abaa8;
}
button.match-input-height:hover {
  background-color: #005f4f;
}

table.mat-elevation-z8 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 10px;
}

th.mat-header-cell {
  background-color: #00796b;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

td.mat-cell {
  padding: 10px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #eee;
}

td.mat-cell:hover {
  background-color: #f1f1f1;
}

button[mat-button] {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #00796b;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button[mat-button]:hover {
  background-color: #005f4f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

mat-icon {
  vertical-align: middle;
  margin-right: 5px;
}

