.appointment-list {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.error {
  color: red;
  text-align: center;
}

mat-progress-spinner {
  display: block;
  margin: 50px auto;
}

.header-controls {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  margin-bottom: 5px;
}

button.match-input-height {
  margin-left: 16px;
}

.appointment-row:hover {
  cursor: pointer;
  background-color: #00796b;
}
