<div class="appointment-list">
  <h1>{{ 'appointment-list.APPOINTMENTS' | translate }}</h1>

  <!-- Filter and Paginator Container -->
  <div class="header-controls">
    <mat-paginator class="paginator-custom"
                   (page)="handlePageEvent($event)"
                   [length]="totalCountAppointments"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [showFirstLastButtons]="true"
                   [pageIndex]="currentPage"
                   aria-label="Select page">
    </mat-paginator>

    <button class="match-input-height" mat-stroked-button (click)="openFiltersDialog()">
      <mat-icon>filter_list</mat-icon>
      {{ 'appointment-list.FILTERS' | translate }}
    </button>
  </div>

  <table mat-table [dataSource]="appointments" class="mat-elevation-z8">

    <!-- Patient ID Column -->
    <ng-container matColumnDef="patientId">
      <th mat-header-cell *matHeaderCellDef> {{ 'appointment-list.PATIENT_NAME' | translate }} </th>
      <td mat-cell *matCellDef="let appointment">
        <span matTooltip="{{ appointment.patientId }}">{{appointment.patient.firstName}} {{appointment.patient.lastName}}</span>
      </td>
    </ng-container>

    <!-- Doctor ID Column -->
    <ng-container matColumnDef="doctorId">
      <th mat-header-cell *matHeaderCellDef> {{ 'appointment-list.DOCTOR_NAME' | translate }} </th>
      <td mat-cell *matCellDef="let appointment">
        <span matTooltip="{{ appointment.doctorId }}">{{appointment.doctor.firstName}} {{appointment.doctor.lastName}}</span>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> {{ 'appointment-list.DATE' | translate }} </th>
      <td mat-cell *matCellDef="let appointment">
        {{appointment.date}}
      </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> {{ 'appointment-list.INTERVAL_TIME' | translate }} </th>
      <td mat-cell *matCellDef="let appointment">
        {{appointment.startTime}}-{{appointment.endTime}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="appointment-row" mat-row *matRowDef="let row; columns: displayedColumns; " (click)="onAppointmentClicked(row)"></tr>
  </table>

</div>
