.language-picker button[mat-icon-button] {
  color: white;
}

.language-picker button[mat-flat-button] {
  margin-right: 10px;
  color: white;
}

.selected-language{
  background-color: #00796b !important;
}
